<div class="post d-flex w-100" id="post-{{ post.id }}">
    <img src="{{ post.user.avatar }}" class="rounded-circle me-2 avatar" alt="avatar" width="40" height="40" loading="lazy" />
    <div class="content d-flex flex-column w-100">
        <div class="title d-flex align-items-center">
            <strong>{{ post.user.name }}</strong>
            <img class="name-badge ms-1" src="/images/verified.png" height="16" width="16" alt="verified" /> 
            <span class="ms-1">@{{ post.user.username }}</span> 
            <span class="px-2">·</span>
            <span hx-get="/feed/post/ago/{{ post.id }}" hx-trigger="updateAgo from:body, load, every 1m" hx-target="this" hx-swap="textContent"></span>
        </div>
        <div class="body">{{ post.body|raw }}</div>
        <div class="actions d-flex align-items-center justify-content-start">
            <div class="{% if comment_disabled %}disabled{% endif %}" hx-get="/feed/post/comment-button/{{ post.id }}" hx-trigger="commentButton from:body, load"></div>
            <div hx-get="/feed/post/like-button/{{ post.id }}" hx-trigger="likeButton from:body, load"></div>
            <div class="d-flex">
                <button class="btn btn-sm" onClick="copyLink(event)" data-link="{{ post.link }}" hx-indicator="#request-spinner">🔗</button>
            </div>
            {% if show_back %}
                <div class="d-flex justify-content-end flex-grow-1">
                <button class="btn btn-sm btn-danger" onClick="document.referrer == '' ? window.location.href = '/admin/feed/' : history.back()" hx-indicator="#request-spinner">Back</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
