<div class="post d-flex w-100" id="post-{{ post.id }}">
    <img src="{{ post.user.avatar }}" class="rounded-circle me-2 avatar" alt="avatar" width="40" height="40" loading="lazy" />
    <div class="content d-flex flex-column w-100">
        <div class="title"><strong>{{ post.user.name }}</strong> <span class="px-2">·</span> <small hx-get="/feed/post/ago/{{ post.id }}" hx-trigger="load, every 1m" hx-target="this" hx-swap="textContent"></small></div>
        <div class="body">{{ post.body|raw }}</div>
        <div class="actions d-flex justify-content-start">
            <div hx-get="/feed/post/comment-button/{{ post.id }}" hx-trigger="commentButton from:body, load"></div>
            <div hx-get="/feed/post/like-button/{{ post.id }}" hx-trigger="likeButton from:body, load"></div>
        </div>
    </div>
</div>
