<div id="comments" class="py-4" hx-disinherit="*">
    <div class="d-flex justify-content-end">
        <button class="btn btn-sm btn-primary me-2" onClick="history.back()" hx-indicator="#request-spinner">Back</button>
    </div>
    <div id="original" class="mt-3">
    {% include "admin/feed/post.html" with {'post': post } %}
    </div>
    <hr>
    <form class="mt-4" hx-post="/feed/post/comment/{{ post.id }}" hx-target="#posts" hx-swap="afterbegin" hx-indicator="#request-spinner">
        {{ csrf()|raw }}
        <div class="input-group">
            <img src="{{ user.avatar }}" class="rounded-circle avatar me-2" alt="avatar" width="40" height="40" loading="lazy" />
            <div class="d-flex flex-column flex-grow-1">
                <textarea name="body" id="new-post" class="w-100 form-control p-1" rows="3" placeholder="Post your reply"></textarea>
                <div class="d-flex justify-content-end pt-2">
                    <button class="btn btn-sm btn-danger me-2" hx-get="/admin/feed" hx-target="#module-content" hx-select="#module-content" hx-swap="outerHTML">Cancel</button>
                    <button class="btn btm-sm btn-primary" type="submit" onClick="clearPost()">Reply</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div id="posts" class="mt-3" hx-get="/feed/post/comments/{{ post.id }}" hx-trigger="load" hx-swap="innerHTML">
        <div class="w-100 d-flex justify-content-center p-5">
            <div id="request-spinner" class="htmx-indicator spinner-3">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

