<div id="users">
    {% for user in users %}
    <div class="user d-flex w-100 p-3">
        <img src="{{ user.avatar }}" class="rounded-circle me-2 avatar" alt="avatar" width="40" height="40" loading="lazy" />
        <div class="content d-flex flex-column w-100">
            <div class="title d-flex align-items-center">
                <strong>{{ user.name }}</strong>
                <img class="name-badge ms-1" src="/images/verified.png" height="16" width="16" alt="verified" /><br>
            </div>
            <div class="username d-flex align-items-center">
                <span class="ms-1">@{{ user.username }}</span> 
            </div>
        </div>
        <div class="d-flex justify-content-end flex-grow-1" hx-get="/users/follow-button/{{ user.id }}" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
        </div>
    </div>
    {% endfor %}
</div>
