{% extends "layouts/home.html" %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block view %}
<div class="d-flex justify-content-center m-2 mb-4">
    <img class="avatar-full glass" src="/images/me-full.jpeg" title="William Hleucka" />
</div>
<p>Hey there, I’m Will, a software developer from Canada. I love building scalable and reliable systems that solve challenging problems, always aiming to deliver more than expected. When I’m not coding, you’ll find me cheering on the Toronto Maple Leafs—proudly, even through the tough seasons!</p>
{% endblock %}
