{% extends "layouts/home.html" %}

{% block title %}{{ parent() }} - Blog{% endblock %}

{% block view %}
<h1># Blog</h1>
<p>This blog is proof that I can code and type coherent sentences (most of the time). I write about interesting technology, software development, and the occasional hockey rant.</p>

<div id="posts" class="mt-5">
    <h3 class="mb-4">## Posts</h3>
    {% if posts %}
        {% for post in posts %}
        <div class="post bg-white p-2 rounded mb-2" hx-get="/blog/{{ post.slug }}" title="View">
            <div class="d-flex align-items-center">
                <div class="cover" style="background-image: url('{{ post.cover }}');"></div>
                <div class="d-flex flex-column truncate">
                    <h4 class="m-0 truncate" title="{{ post.title }}">{{ post.title }}</h4>
                    <p class="mt-2 truncate" title="{{ post.subtitle }}">{{ post.subtitle }}</p>
                    <p class="text-muted m-0"><small>{{ post.category }}</small></p>
                    <p class="text-muted m-0"><small>Last updated {{ post.ago }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p>No posts yet, but stay tuned—new content is coming soon!</p>
    {% endif %}
</div>
{% endblock %}
