{% extends "layouts/home.html" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block view %}
<h1># Code. Hockey. Repeat.</h1>
<p>Driven by curiosity, powered by code.</p>

<div id="welcome" class="mt-5">
    <h3 class="mb-3">## Welcome</h3>
    <span>
        <p>Greetings, traveller.</p>
        <p>I’m Will, a software developer from Canada. Welcome to my corner of the web!<p>
        <p>I love building scalable and reliable systems that solve challenging problems, always aiming to deliver more than expected.</p>
        <p>When I’m not coding, you’ll find me cheering on the Toronto Maple Leafs—proudly, even through the tough seasons!</p>
    </span>
</div>

<div id="tech" class="mt-5">
    <h3 class="mb-3">## Tech</h3>
    <table class="table table-sm">
        <tbody>
            <tr>
                <th>OS</th>
                <td>Arch Linux x86_64</td>
            </tr>
            <tr>
                <th>DE</th>
                <td>i3</td>
            </tr>
            <tr>
                <th>Terminal</th>
                <td>kitty</td>
            </tr>
            <tr>
                <th>Shell</th>
                <td>zsh</td>
            </tr>
            <tr>
                <th>Editor</th>
                <td>Neovim</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>Catppuccin</td>
            </tr>
            <tr>
                <th>Font</th>
                <td>Ubuntu Mono</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="contact" class="mt-5 pb-3">
    <h3 class="mb-3">## Contact</h3>
    <div class="d-flex align-items-center">
        <img class="social-icon" src="/images/paperplane.png" /> <span class="ps-2"><a href="/contact">Direct Message</a></span>
    </div>
    <div class="d-flex align-items-center mt-2">
        <img class="social-icon" src="/images/gmail.webp" /> <span class="ps-2"><a href="&#109;&#65;&#105;&#76;&#116;&#111;&#58;&#119;&#105;&#108;&#108;&#105;&#97;&#109;&#46;&#104;&#108;&#101;&#117;&#99;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Gmail</a></span>
    </div>
</div>

<div id="links" class="mt-5">
    <h3 class="mb-3">## Links</h3>
    <div class="d-flex align-items-center">
        <img class="social-icon" src="/images/github.svg" /> <span class="ps-2"><a href="https://github.com/whleucka">GitHub</a></span>
    </div>
    <div class="d-flex align-items-center mt-2">
        <img class="social-icon" src="/images/bluesky.png" /> <span class="ps-2"><a href="https://am34.bsky.social">Bluesky</a></span>
    </div>
    <div class="d-flex align-items-center mt-2">
        <img class="social-icon" src="/images/linkedin.png" /> <span class="ps-2"><a href="https://www.linkedin.com/in/will-hleucka/">LinkedIn</a></span>
    </div>
    <div class="d-flex align-items-center mt-2">
        <img class="social-icon" src="/images/reddit.png" /> <span class="ps-2"><a href="https://www.reddit.com/user/cpp_hleucka/">Reddit</a></span>
    </div>
    <div class="d-flex align-items-center mt-2">
        <img class="social-icon" src="/images/youtube.png" /> <span class="ps-2"><a href="https://www.youtube.com/@willhleucka821">YouTube</a></span>
    </div>
</div>
{% endblock %}
