{% extends "layouts/home.html" %}

{% block title %}{{ parent() }}{% endblock %}

{% block view %}
<div id="welcome">
    <h1 class="mb-3"># Welcome</h1>
    <div class="card p-2 d-flex flex-column">
        <span>I’m Will, a software developer from Canada. Welcome to my corner of the web!</span>
        <span class="mt-2">I occasionally write blog posts, which you can <a href="/blog"><u>read here</u></a>.</span>
    </div>
</div>

<div id="hello" class="mt-5">
    <h3 class="mb-3">## Intro</h3>
    <div class="card p-2 d-flex flex-column">
        <span>I love building scalable and reliable systems that solve challenging problems, always aiming to deliver more than expected.</span>
        <span class="mt-2">When I’m not coding, you’ll find me cheering on the Toronto Maple Leafs—proudly, even through the tough seasons!</span>
        <span class="mt-2">If you have a project in mind or just want to chat about ideas, feel free to <a class="text-primary" href="/contact"><u>get in touch</u></a>! Let’s build something amazing together.</span>
    </div>
</div>

<div id="projects" class="mt-5">
    <h3 class="mb-3">## Projects</h3>
    <div class="card">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td class="p-2">Muse is a web music player utilizing htmx and PHP to manage and play music collections, stream HD radio, and access podcasts through a dynamic and user-friendly interface.</td>
                    <td valign="middle" class="p-1">
                        <span><a class="btn btn-success text-white" href="https://github.com/whleucka/muse">View</a></span><br>
                    </td>
                </tr>
                <tr>
                    <td class="p-2">Helios is a lightweight and flexible PHP framework.</td>
                    <td valign="middle" class="p-1">
                        <span><a class="btn btn-success text-white" href="https://github.com/libra-php/helios">View</a></span><br>
                    </td>
                </tr>
                <tr>
                    <td class="p-2">reverb.nvim is a Neovim plugin designed to elevate your coding environment with immersive sound effects.</td>
                    <td valign="middle" class="p-1">
                        <span><a class="btn btn-success text-white" href="https://github.com/whleucka/reverb.nvim">View</a></span><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="work" class="mt-5">
    <h3 class="mb-3">## Work</h3>
    <div class="card">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td class="p-2">
                        <span>JNCI</span><br>
                        <span>Full Stack Developer</span><br>
                        <small class="text-muted">Lethbridge, Alberta, Canada</small> 
                    </td>
                    <td class="text-end p-2"><i>2016-present</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="education" class="mt-5">
    <h3 class="mb-3">## Education</h3>
    <div class="card">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <td class="p-2">
                        <span>University of Lethbridge</span><br>
                        <span>Bachelor of Science</span><br />
                        <small class="text-muted">Computer Science</small><br />
                        <small class="text-muted">Lethbridge, Alberta, Canada</small> 
                    </td>
                    <td class="text-end p-2"><i>2017</i></td>
                </tr>
                <tr>
                    <td class="p-2">
                        <span>Medicine Hat College</span><br>
                        <span>Information Technology</span><br />
                        <small class="text-muted">Medicine Hat, Alberta, Canada</small> 
                    </td>
                    <td class="text-end p-2"><i>2013</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="tech" class="mt-5">
    <h3 class="mb-3">## Tech</h3>
    <div class="card">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th class="p-2">Dotfiles</th>
                    <td class="p-2"><a href="https://github.com/whleucka/stow-dotfiles">View on GitHub</td>
                </tr>
                <tr>
                    <th class="p-2">OS</th>
                    <td class="p-2"><a href="https://archlinux.org/">Arch Linux x86_64</td>
                </tr>
                <tr>
                    <th class="p-2">DE</th>
                    <td class="p-2"><a href="https://i3wm.org/">i3</a></td>
                </tr>
                <tr>
                    <th class="p-2">Terminal</th>
                    <td class="p-2"><a href="https://sw.kovidgoyal.net/kitty/">kitty</a</td>
                </tr>
                <tr>
                    <th class="p-2">Shell</th>
                    <td class="p-2"><a href="https://www.zsh.org/">zsh</a</td>
                </tr>
                <tr>
                    <th class="p-2">Editor</th>
                    <td class="p-2"><a href="https://neovim.io/">Neovim</a</td>
                </tr>
                <tr>
                    <th class="p-2">Theme</th>
                    <td class="p-2"><a href="https://github.com/catppuccin/catppuccin">Catppuccin</a</td>
                </tr>
                <tr>
                    <th class="p-2">Font</th>
                    <td class="p-2"><a href="https://design.ubuntu.com/font">Ubuntu Mono</a</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="contact" class="mt-5">
    <h3 class="mb-3">## Contact</h3>
    <div class="card p-2">
        <div class="d-flex align-items-center">
            <img class="social-icon" src="/images/paperplane.png" /> <span class="ps-2"><a href="/contact">Direct Message</a></span>
        </div>
        <div class="d-flex align-items-center mt-2">
            <img class="social-icon" src="/images/gmail.webp" /> <span class="ps-2"><a href="&#109;&#65;&#105;&#76;&#116;&#111;&#58;&#119;&#105;&#108;&#108;&#105;&#97;&#109;&#46;&#104;&#108;&#101;&#117;&#99;&#107;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Gmail</a></span>
        </div>
    </div>
</div>
{% endblock %}
