<nav class="navbar navbar-expand-md d-flex p-1" hx-swap="outerHTML" hx-select="#view" hx-target="#view">
    <a class="navbar-brand" href="/"><img class="nav-avatar me-2" src="/images/me.jpeg" />William Hleucka</a>
    <div class="dropdown ms-auto">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
        </button>
        <ul class="scroll-menu dropdown-menu dropdown-menu-end p-2 glass">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><a class="dropdown-item" href="/projects">Projects</a></li>
            <li><a class="dropdown-item" href="/blog">Blog</a></li>
            <li><a class="dropdown-item" href="/contact">Contact</a></li>
            <li><a class="dropdown-item" hx-boost="false" href="/sign-in">Sign In</a></li>
        </ul>
    </div>
</nav>
