<textarea 
    id="{{ id }}"
    class="{{ class }}"
    name="{{ name }}"
    name="{{ name }}"
    style = "display: none;"
    {% if readonly %}readonly{% endif %}
    {% if disabled %}disabled{% endif %}
    {% if required %}required{% endif %}>
</textarea>
<script>
  $(document).ready(function() {
    $('#{{ id }}').summernote({
        placeholder: 'Type your post here',
        tabsize: 2,
        height: 120,
        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
    $('#{{ id }}').summernote('code', '{{ value|raw }}');
  });
</script>
