{% extends "layouts/base.html" %}

{% block content %}
<section id="app" class="d-flex h-100 w-100 bg-light" hx-boost="true" hx-select="#module" hx-target="#module" hx-swap="outerHTML">
	{% include 'components/sidebar.html' %}
	<section id="module" class="d-flex flex-column flex-grow-1 p-2">
		<section id="top">
			<h2 id="title" class="fw-bold">{{ module.title }}</h2>
			{% block top %}
			{% endblock %}
		</section>
		<section id="middle">
			{% block middle %}
			{% endblock %}
		</section>
		<section id="bottom">
			{% block bottom %}
			{% endblock %}
		</section>
	</section>
</section>
{% endblock %}
