{% extends "layouts/base.html" %}

{% block content %}
<section id="app" class="d-flex h-100 w-100 bg-light" hx-indicator="#request-spinner" hx-boost="true" hx-select="#module-content" hx-target="#module-content" hx-swap="outerHTML">
    {% include 'components/sidebar.html' %}
    <section id="module-content" class="d-flex flex-column flex-grow-1 p-2">
        <section id="top">
            {% block top %}
            {% endblock %}
        </section>
        <section id="middle">
            {% block middle %}
            {% endblock %}
        </section>
        <section id="bottom">
            {% block bottom %}
            {% endblock %}
        </section>
    </section>
</section>
{% endblock %}
