<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}{{ app }}{% endblock %}</title>
    <link rel="icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/css/main.css?v=20250122">
    {% block head %}
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js?v=20250122"></script>
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QH9RVQNK3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5QH9RVQNK3');
    </script>
</head>

<body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>

</html>
