<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}William Hleucka{% endblock %}</title>
    <link rel="icon" href="/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/htmx.min.js"></script>
    <link href="/css/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css?v=20250101">
    {% block head %}
    <script src="/js/quill.js"></script>
    {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block scripts %}
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js?v=20250101" defer></script>
    {% endblock %}
</body>

</html>
