{% extends "layouts/base.html" %}

{% block content %}
<div id="home" class="container" hx-boost="true" hx-swap="outerHTML scroll:top" hx-select="#home" hx-target="#home">
    {% include "home/navbar.html" %}
    <section id="view">
    {% block view %}{% endblock %}
    </section>
    <footer class="mt-4">
        <div class="d-flex p-1">
            <div>
                <small>&copy; 2025 williamhleucka.com</small>
            </div>
            <div class="flex-grow-1">
                <div class="d-flex justify-content-end w-100">
                    <a title="Github" href="https://github.com/whleucka"><img class="social-icon me-2" src="/images/github.svg" /></a>
                    <a title="Bluesky" href="https://am34.bsky.social"><img class="social-icon me-2" src="/images/bluesky.png" /></a>
                    <a title="Linkedin" href="https://www.linkedin.com/in/will-hleucka/"><img class="social-icon me-2" src="/images/linkedin.png" /></a>
                    <a title="Reddit" href="https://www.reddit.com/user/cpp_hleucka/"><img class="social-icon me-2" src="/images/reddit.png" /></a>
                    <a title="Youtube" href="https://www.youtube.com/@willhleucka821"><img class="social-icon me-2" src="/images/youtube.png" /></a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
