html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f3f4f8;
    color: #222;
    overflow: hidden;
}

a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #222;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

a:active {
    color: #222;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ababab #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.auth-cont {
    max-width: 364px;
    margin: auto;
}
.auth-form {
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px solid #ddd;
}
.auth-form .lead {
    font-size: 1.1rem;
}

#module {
    overflow: hidden;
}
.module-content {
    overflow: auto;
}
#sidebar {
    width: 224px;
}
#sidebar ul {
    list-style: none; 
    padding: 0;
}
#sidebar ul li {
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
