html,
body {
	height: 100%;
	width: 100%;
}

body {
	color: #222;
}

a:link {
	color: #222;
}

a:visited {
	color: #222;
}

a:hover {
	color: #222;
	text-decoration: underline;
}

a:active {
	color: #222;
}

#sign-in {
	max-width: 364px;
	margin: auto;
}

#app {
	overflow: auto;
}

#module {
	overflow: inherit;
}

#app #sidebar {
	width: 100%;
	min-width: 150px;
	max-width: 150px;
}

#app #module #top {
	margin: 0;
}

#app #module #middle {
	overflow: auto;
	border: none !important;
}

#app #module .table {
	border-spacing: 0;
	border-collapse: collapse;
	overflow: auto;
}

#app #module .page-item.active a {
	font-weight: 900;
	--bs-pagination-active-bg: #222;
	--bs-pagination-active-border-color: #dee2e6;
}
#app #module .filter-link.active {
	font-weight: 900;
}

#app #module #per-page {
	width: 70px;
	padding: 2;
}

#app #module #top #title {
	margin: 0;
	font-size: 2rem;
}
