html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: #222;
}

a:link {
    color: #222;
    text-decoration: none;
}

a:visited {
    color: #222;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

a:active {
    color: #222;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ababab #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

#sign-in {
    max-width: 364px;
    margin: auto;
}

#app {
    overflow: auto;
}

#module-content {
    overflow: inherit;
}

#app #sidebar {
    padding: 6px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
}

#app #sidebar.active {
    display: block !important;
    width: 100% !important;
    min-width: 100% !important;
}
#app #sidebar.active #search-cont {
    padding-right: 45px;
}

#app #sidebar .highlight {
    background-color: yellow;
}

#app #sidebar .sidebar-links {
    list-style-type: none;
    line-height: 2.5rem;
    padding-left: 22px;
}

#app #sidebar .btn-toggle {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

#app #sidebar .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("/images/arrow.svg");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    margin-right: 10px;
}

#app #sidebar .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

#app #sidebar .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

#app #module-content #top {
    margin: 0;
}

#app #mobile-toggle {
    position: absolute;
    top: 18px;
    right: 16px;
    opacity: 0.6;
    height: 20px;
}

#app #mobile-toggle:hover {
    opacity: 1;
}

#app #module-content #top #title {
    margin: 0;
    font-size: 2rem;
}

#app #module-content #top button {
    font-weight: 700;
}

#app #module-content #top #filters #filter-links .filter-link.active {
    background-color: #222;
    color: #fff !important;
}

#app #module-content #middle {
    overflow: auto;
    border: none !important;
}

#app #module-content #top #breadcrumbs .breadcrumb-item {
    font-size: 0.85rem;
    color: #666;
    text-decoration: underline;
}
#app #module-content #top #breadcrumbs .breadcrumb-item.active {
    color: #222;
}

#app #module-content .table {
    border: 1px solid #ccc;
}

#app #module-content .table tbody tr:hover {
    background-color: #FFF5CC;
}

#app #module-content #pagination .page-item.active a {
    font-weight: 900;
    --bs-pagination-active-color: #222;
    --bs-pagination-active-bg: none;
    --bs-pagination-active-border-color: #ddd;
}

#app #module-content #pagination #per-page {
    width: 70px;
    padding: 2;
}

#app #module-content #filters .filter-link {
    opacity: 0.7;
}

#app #module-content #filters .filter-link.active {
    font-weight: 900;
    opacity: 1;
}

#app #module-content #filters input[type='search'] {
    background-image: url("/images/search_icon.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: left 10px center;
    padding-left: 40px;
}

#app #module-content .view-form .label {
    width: 150px;
}

/**
 * Controls
 */
.control_image {
    max-height: 255px;
}

.diff {
    margin: 0;
    padding: 4px;
    border-radius: 2px;
}
.diff-add {
    background: #adedbe;
}
.diff-remove {
    background: #fbbfc2;
}

/**
 * Flash
 */
.flash.alert {
    margin-bottom: 5px;
}
.flash.alert svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.flash.alert-warning {
    border-left: 4px solid #ff9305;
    fill: #ff9305;
}

.flash.alert-danger {
    border-left: 4px solid #ff4747;
    fill: #ff0000;
}

.flash.alert-success {
    border-left: 4px solid #25a140;
    fill: #25a140;
}

.flash.alert-info {
    border-left: 4px solid #4772ff;
    fill: #4772ff;
}

/**
 * Utils
 */
.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

/**
 * HTMX
 */
.htmx-indicator{
    opacity: 0 !important;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity: 1 !important;
}
.htmx-request.htmx-indicator{
    opacity: 1 !important;
}

#request-spinner {
    height: 14px;
    width: 14px;
}
.spinner-3 {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: s3 1s infinite steps(12);
}
.spinner-3::before,
.spinner-3::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.spinner-3::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes s3 {
  100% {transform: rotate(1turn)}
}
