<div id="comments" hx-trigger="load-comments from:body" hx-get="/blog/comments/{{ post_id }}" hx-swap="outerHTML" hx-target="this" hx-select="#comments" class="mt-5">
    <p class="my-2">Comments</p>
    <div id="new-post"></div>
    {% if comments %}
        {% for comment in comments %}
            {% include "home/blog/comment.html" %}
        {% endfor %}
    {% else %}
    <div class="card glass p-1 my-1">
        <span class="p-1">Be the first to comment!</span>
    </div>
    {% endif %}
</div>
