<div id="comment-control" hx-trigger="load-comment-control from:body" hx-get="/blog/comment/control/{{ id }}" hx-swap="outerHTML" hx-target="this" hx-select="#comment-control">
    {% include "components/flash.html" %}
    <div id="pre-comment" onClick="hideBlogPreComment(); showBlogComment();">
        <label class="my-2" for="name">Post comment</label>
        <input class="form-control" type="text" placeholder="Write your comment here" />
    </div>
    <div id="comment-section" style="display: none;">
        <form method="POST" hx-post="/blog/comment/{{ id }}" hx-swap="afterbegin" hx-target="#new-post" hx-select=".card">
            {{ csrf()|raw }}
            <div>
                <label class="my-2" for="comment">Post comment</label>
                <textarea class="form-control" style="height: 200px;" placeholder="Write your comment here" id="comment" name="comment" style="height: 100px" autofocus required></textarea>
                {% include 'errors/validation.html' with {'validate': 'comment'} %}
            </div>
            <div>
                <label class="my-2" for="name">Your name</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="Full name" required>
                {% include 'errors/validation.html' with {'validate': 'name'} %}
            </div>
            <div class="mt-3">
                <p class="my-2">Please enter the code to confirm you're not a robot.</p>
                <div class="captcha" hx-trigger="load" hx-get="/captcha" hx-target=".captcha" hx-select=".captcha" hx-swap="outerHTML"></div>
                {% include 'errors/validation.html' with {'validate': 'captcha'} %}
            </div>
            <div class="mt-3">
                <button class="btn btn-success text-white">
                    Send
                </button>
                <button class="btn btn-danger text-white ms-1" type="button" onClick="showBlogPreComment(); hideBlogComment();">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
