{% extends "layouts/base.html" %}

{% block title %}{{ parent() }} - Password Reset{% endblock %}

{% block content %}
<section id="password-reset" class="auth-cont h-100 d-flex flex-column align-items-center justify-content-center">
    <form hx-post="{{ route('password-reset.post', token) }}" hx-target=".auth-cont" hx-select=".auth-cont" hx-swap="outerHTML" class="auth-form p-4 d-flex flex-column align-items-center rounded">
        <h3>Password Reset</h3>
        {{ csrf()|raw }}
        <p class="lead">Please enter a new password.</p>
        {% include "components/flash.html" %}
        <div class="form-floating mb-3 w-100">
            <input type="password" class="form-control w-100 {% if request_errors.password is defined %}is-invalid{% endif %}" name="password" id="password" placeholder="" autocomplete="new-password">
            <label for="password">Password</label>
            {% include 'errors/validation.html' with {'validate': 'password'} %}
        </div>
        <div class="form-floating mb-3 w-100">
            <input type="password" class="form-control w-100 {% if request_errors.password_match is defined %}is-invalid{% endif %}" name="password_match" id="password-match" placeholder="" autocomplete="new-password">
            <label for="password-match">Repeat Password</label>
            {% include 'errors/validation.html' with {'validate': 'password_match'} %}
        </div>
        <div class="w-100 mb-3">
            <button type="submit" class="btn btn-success fw-bold w-100 btn-lg">Reset</button>
        </div>
        <div class="d-flex align-items-center">
            <img width="12" height="12" src="/images/nebula.jpeg" />
            <img width="12" height="12" src="/images/lock.png" />
            <small class="ps-2">256-Bit SSL Encryption (AES-256)</small>
        </div>
    </form>
</section>
{% endblock %}
