{% extends "layouts/base.html" %}

{% block content %}
<section id="register" class="auth-cont h-100 d-flex flex-column align-items-center justify-content-center">
    <form hx-post="{{ route('register.index') }}" hx-swap="outerHTML" class="auth-form p-4 d-flex flex-column align-items-center rounded">
        <h3>Create new account</h3>
        {{ csrf()|raw }}
        <p class="lead">Fill in the details below to set up your account. Once registered, you’ll be able to sign in and start using all features.</p>
        <div class="form-floating mb-3 w-100">
            <input type="input" class="form-control w-100 {% if request_errors.name is defined %}is-invalid{% endif %}" name="name" id="name" placeholder="" value="{{ old('name') }}">
            <label for="name">Name</label>
            {% include 'errors/validation.html' with {'validate': 'name'} %}
        </div>
        <div class="form-floating mb-3 w-100">
            <input type="input" class="form-control w-100 {% if request_errors.username is defined %}is-invalid{% endif %}" name="username" id="username" placeholder="" value="{{ old('username') }}">
            <label for="username">Username</label>
            {% include 'errors/validation.html' with {'validate': 'username'} %}
        </div>
        <div class="form-floating mb-3 w-100">
            <input type="input" class="form-control w-100 {% if request_errors.email is defined %}is-invalid{% endif %}" name="email" id="email" placeholder="" value="{{ old('email') }}">
            <label for="email">Email address</label>
            {% include 'errors/validation.html' with {'validate': 'email'} %}
        </div>
        <div class="form-floating mb-3 w-100">
            <input type="password" class="form-control w-100 {% if request_errors.password is defined %}is-invalid{% endif %}" name="password" id="password" placeholder="" autocomplete="new-password">
            <label for="password">Password</label>
            {% include 'errors/validation.html' with {'validate': 'password'} %}
        </div>
        <div class="form-floating mb-3 w-100">
            <input type="password" class="form-control w-100 {% if request_errors.password_match is defined %}is-invalid{% endif %}" name="password_match" id="password-match" placeholder="" autocomplete="new-password">
            <label for="password-match">Password (again)</label>
            {% include 'errors/validation.html' with {'validate': 'password_match'} %}
        </div>
        <div class="w-100 mb-3">
            <button type="submit" class="btn btn-primary fw-bold w-100 btn-lg">Register</button>
        </div>
        <div hx-boost="true" class="mb-3 d-flex flex-column">
            <a href="/sign-in">Already have an account?</a>
        </div>
        <div class="d-flex align-items-center">
            <img width="12" height="12" src="/images/nebula.jpeg" />
            <img width="12" height="12" src="/images/lock.png" />
            <small class="ps-2">256-Bit SSL Encryption (AES-256)</small>
        </div>
    </form>
</section>
{% endblock %}
