{% extends "layouts/admin.html" %}

{% block title %}{{ parent() }} - Admin: {{ module.title }} Edit {{id}}{% endblock %}

{% block breadcrumb %}
{% if module.parent %}
    <li class="breadcrumb-item">{{ module.parent }}</li>
{% endif %}
<li class="breadcrumb-item active"><a href="/admin/{{ module.route }}">{{ module.title }}</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="/admin/{{ module.route }}/edit/{{ id }}">Edit {{ id }}</a></li>
{% endblock %}

{% block header %}
<h1 class="fw-bold">Edit</h1>
<div class="bg-gray fw-bold">
    ID: {{ id }}
</div>
{% endblock %}

{% block module %}
<section id="edit" class="module-content">
    {% include "admin/module/form.html" %}
</section>
{% endblock %}

{% block bottom %}
{% endblock %}

