{% extends "layouts/admin.html" %}

{% block top  %}
{% include 'components/breadcrumbs.html' %}
{% if flash|length > 0 %}
{% include "components/flash.html" %}
{% endif %}
<nav class="nav nav-tabs" id="nav-tab" role="tablist">
  <a class="nav-link active" id="nav-feed-tab" data-bs-toggle="tab" href="#nav-feed" role="tab" aria-controls="nav-feed" aria-selected="true">Feed</a>
  <a class="nav-link" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="false">Users</a>
</nav>
{% endblock %}

{% block middle %}
<div id="feed" class="tab-content container py-2" hx-disinherit="*">
    <div class="tab-pane fade show active" id="nav-feed" role="tabpanel" aria-labelledby="nav-feed-tab">
        <div id="post-control" class="mt-2">
            <form hx-post="/feed/post" hx-target="#posts" hx-indicator="#request-spinner">
            {{ csrf()|raw }}
            <div class="input-group">
                <img src="{{ data.avatar_url }}" class="rounded-circle avatar me-2" alt="avatar" width="40" height="40" loading="lazy" />
                <div class="d-flex flex-column flex-grow-1">
                    <textarea name="body" id="new-post" class="w-100 form-control p-1" rows="3" onKeyUp="bodyChange(event)" placeholder="What is happening?"></textarea>
                    <div class="d-flex justify-content-end pt-2">
                        <button class="btn btm-sm btn-primary" id="btn-new-post" type="submit" onClick="clearPost()"disabled>Post</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div id="posts" hx-get="/feed/posts" hx-trigger="load" hx-swap="innerHTML">
            <div class="w-100 d-flex justify-content-center p-5">
                <div id="request-spinner" class="htmx-indicator spinner-3">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
        <p>User Search wip</p>
    </div>
</div>
{% endblock %}

{% block bottom  %}
{% endblock %}
