{% extends "layouts/admin.html" %}

{% block top  %}
{% include 'components/breadcrumbs.html' %}
<h2 id="title" class="fw-bold mb-2">{{ module.title }}</h2>
{% endblock %}

{% block middle %}
<form class="view-form"
	{% if id %}
	hx-patch="/admin/{{ module.path}}/{{ id }}"
	{% else %}
	hx-post="/admin/{{ module.path }}"
	{% endif %}>
	{{ csrf()|raw }}
	{% for title,column in form  %}
	<div class="d-flex align-items-center mb-1">
		<div class="label truncate"><strong>{{ title }}</strong></div>
		<div class="flex-grow-1">
			{{ view.control(column, data[column])|raw }}
			{% include 'errors/validation.html' with {'validate': column} %}
		</div>
	</div>
	{% endfor %}
	<div class="m-0 mt-2">
		<button class="btn btn-success" type="submit">{% if id %}Save{% else %}Create{% endif %}</button>
	</div>
</form>
{% endblock %}

{% block bottom  %}
{% endblock %}
