<form class="p-2" method="post" hx-post="{{ form.action }}" hx-target="#module" hx-select="#module" hx-swap="outerHTML">
    {{ csrf()|raw }}
    {% for datum in form.data %}
        {% if datum.label %}
        <div class="d-flex flex-column mt-1">
            <label for="{{ datum.column }}" class="form-label fw-bold">{{ datum.label }}</label>
            <div>{{ datum.control|raw }}</div>
            {% include 'errors/validation.html' with {'validate': datum.column } %}
        </div>
        {% endif %}
    {% endfor %}
    <div class="mt-2" hx-boost="true">
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <button class="btn btn-sm btn-secondary ml-2" 
            type="button" 
            hx-get="{{ module.route}}" 
            hx-target="#module" 
            hx-select="#module" 
            hx-swap="outerHTML">Back</button>
    </div>
</form>
