{% extends "layouts/admin.html" %}

{% block title %}{{ parent() }} [Admin] {{ module.title }}{% endblock %}

{% block breadcrumb %}
{% if module.parent %}
    <li class="breadcrumb-item">{{ module.parent }}</li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page"><a href="{{ module.route }}">{{ module.title }}</a></li>
{% endblock %}

{% block top %}
{{ parent() }}
{% if flash %}
    {% include "components/flash.html" %}
{% endif %}
{% include "admin/module/table-actions.html" %}
{% include "admin/module/search.html" %}
{% include "admin/module/filter-links.html" %}
{% endblock %}

{% block module %}
<section class="module-content">
    {% include "admin/module/table.html" %}
</section>
{% endblock %}

{% block bottom %}
{% include "admin/module/pagination.html" %}
{% endblock %}
