{% extends "layouts/admin.html" %}

{% block title %}{{ parent() }} [Admin] {{ module.title }}{% endblock %}

{% block breadcrumb %}
{% if module.parent %}
    <li class="breadcrumb-item">{{ module.parent }}</li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page"><a href="{{ module.route }}">{{ module.title }}</a></li>
{% endblock %}

{% block top %}
{{ parent() }}
<section id="table-actions" class="p-2 d-flex">
    {% if permissions.hasCreate() %}
        <button class="btn btn-sm btn-primary" 
            type="button" 
            hx-get="{{ module.route }}/create" 
            hx-select="#module" 
            hx-target="#module" 
            hx-swap="outerHTML">Create</button>
    {% endif %}
</section>
{% endblock %}

{% block module %}
<section id="index" class="module-content">
    {% include "admin/module/search.html" %}
    {% include "admin/module/filter-links.html" %}
    {% include "admin/module/table.html" %}
</section>
{% endblock %}

{% block bottom %}
{% include "admin/module/pagination.html" %}
{% endblock %}
