<nav class="navbar navbar-expand-lg d-block d-sm-none d-flex" hx-boost="true" hx-swap="outerHTML" hx-target="#module" hx-select="#module">
    <span class="navbar-brand fw-bold" href="#">{{ app }}</span>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-end p-2">
            {% for group,data in links %}
                <li class="fw-bold">{{ group }}</li>
                <ul class="mt-1 ps-2">
                {% for link in data %}
                    <a href="{{ link.url }}"><li class="dropdown-item">{{ link.label }}</li></a>
                {% endfor %}
                </ul>
            {% endfor %}
            <li class="fw-bold">Account</li>
            <ul class="mt-1 ps-2">
                <a hx-boost="false" href="/sign-out"><li class="dropdown-item">Sign Out</li></a>
            </ul>
        </ul>
    </div>
</nav>
