<nav class="navbar navbar-expand-lg d-block d-sm-none d-flex p-1" hx-swap="outerHTML" hx-target="#module" hx-select="#module">
    <span class="navbar-brand fw-bold" href="#">{{ app }}</span>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="avatar" src="{{ avatar }}" alt="avatar" />
        </button>
        <ul class="scroll-menu dropdown-menu dropdown-menu-end p-2 glass">
            {% for group,data in links %}
                <li class="fw-bold">{{ group }}</li>
                <ul class="mt-1 ps-2">
                {% for link in data %}
                    <a href="{{ link.url }}" hx-boost="{{ link.boost }}"><li class="dropdown-item">{{ link.label }}</li></a>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
</nav>
