<section id="sidebar" class="h-100 d-none d-sm-block" hx-boost="true" hx-swap="outerHTML" hx-target="#module" hx-select="#module">
    <ul class="mt-2">
        <li class="fw-bold">Administration</li>
        <ul class="mt-1 ps-2">
            <a href="/admin/users"><li>Users</li></a>
            <a href="/admin/user-sessions"><li>User Sessions</li></a>
        </ul>
        <li class="fw-bold">Account</li>
        <ul class="mt-1 ps-2">
            <a hx-boost="false" href="/sign-out"><li>Sign Out</li></a>
        </ul>
    </ul>
</section>
