<section id="sidebar" class="h-100 d-none d-sm-block" hx-boost="true" hx-swap="outerHTML" hx-target="#module" hx-select="#module">
    <ul class="mt-2">
            {% for group,data in links %}
            <li class="fw-bold">{{ group }}</li>
                <ul class="mt-1 ps-2">
                {% for link in data %}
                    <a href="{{ link.url }}"><li>{{ link.label }}</li></a>
                {% endfor %}
                </ul>
            {% endfor %}
        <li class="fw-bold">Account</li>
        <ul class="mt-1 ps-2">
            <a hx-boost="false" href="/sign-out"><li>Sign Out</li></a>
        </ul>
    </ul>
</section>
