<section id="table-actions" class="p-2 d-flex justify-content-start">
    {% if permissions.hasCreate() %}
        <a class="btn btn-sm btn-success text-decoration-none me-1"
            hx-get="{{ module.route }}/create"
            hx-select="#module"
            hx-target="#module"
            hx-swap="outerHTML">Create</a>
    {% endif %}
    {% if table.data and actions.export_csv %}
        <a class="btn btn-sm btn-primary text-decoration-none text-white me-1" 
            href="{{ module.route }}/export-csv">Export CSV</a>
    {% endif %}
</section>
