<nav id="breadcrumbs" aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb d-flex align-items-center">
        {% for i,breadcrumb in breadcrumbs %}
            {% if breadcrumb.path %}<a class="breadcrumb-link" href='/admin/{{ breadcrumb.path }}'>{% endif %}
            <li class="breadcrumb-item {% if i == breadcrumbs|length - 1 %}active{% endif %}" {% if i == breadcrumbs|length - 1 %}aria-current="page"{% endif %}>
                {{ breadcrumb.title }}
            </li>
            {% if breadcrumb.path %}</a>{% endif %}
            {% if i != breadcrumbs|length - 1 %}
            <span class="px-1"> > </span>
            {% endif %}
        {% endfor %}
        <li class="d-flex align-items-center ps-2">
            <div id="request-spinner" class="htmx-indicator spinner-grow text-primary spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </li>
    </ol>
</nav>
