<div class="post d-flex w-100" id="post-{{ post.id }}">
    <img src="{{ post.user.gravatar }}" class="rounded-circle me-2 avatar" alt="avatar" width="40" height="40" loading="lazy" />
    <div class="content d-flex flex-column w-100">
        <div class="title"><strong>{{ post.user.name }}</strong> <span class="px-2">·</span> <small>{{ post.ago }}</small></div>
        <div class="body">{{ post.body|raw }}</div>
        <div class="actions d-flex justify-content-start">
            <button class="btn btn-sm" onClick="showComment(event)">💬<span class="msg-count ps-1" hx-trigger="load" hx-get="/feed/comment/count/{{ post.id }}" hx-swap="textContent"></span></button>
            <form hx-post="/feed/like/{{ post.id }}" hx-target="#post-{{ post.id }} .like-count" hx-select="#post-{{ post.id }} .like-count" hx-swap="outerHTML">
                {{ csrf()|raw }}
                <button class="btn btn-sm" type="submit">❤️<span class="like-count ps-1" hx-trigger="load" hx-target="closest .like-count" hx-get="/feed/like/count/{{ post.id }}" hx-swap="textContent"></span></button>
            </form>
        </div>
        <div class="comment d-flex justify-content-center hidden py-2">
            <form class="w-100" hx-post="/feed/comment/{{ post.id }}" hx-target="#post-{{ post.id }}" hx-select="#post-{{ post.id }}" hx-swap="outerHTML" hx-indicator="#request-spinner">
            {{ csrf()|raw }}
            <div class="input-group">
                <img src="{{ user_avatar }}" class="rounded-circle avatar me-2" alt="avatar" width="40" height="40" loading="lazy" />
                <div class="d-flex flex-column flex-grow-1">
                    <textarea name="body" class="w-100 form-control p-1" rows="3" onKeyUp="bodyChange(event)" placeholder="What is happening?"></textarea>
                    <div class="d-flex justify-content-end pt-2">
                        <button class="btn btm-sm btn-primary" type="submit" onClick="" disabled>Post</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
