<img src="/images/menu.png" id="mobile-toggle" onClick="toggleSidebar()" class="d-block d-sm-none" />
<nav id="sidebar" class="d-none d-sm-block mt-1">
    <div id="search-cont" class="mb-3">
        <input type="search" class="form-control" id="filter" placeholder="Filter" tabindex="-1">
    </div>

    <div class="flex-shrink-0">
        <ul class="list-unstyled ps-0">
            {% for key,link in links %}
                {% if link.children|length > 0 %}
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded parent-link"
                        data-bs-toggle="collapse"
                        data-bs-target="#link-{{ key }}"
                        aria-expanded="false">
                        {{ link.label }}
                    </button>
                    <div class="collapse submenu" id="link-{{ key }}">
                        <ul class="btn-toggle-nav fw-normal sidebar-links pb-1 small">
                            {% include 'components/sidebar_links.html' with {
                                'links': link.children,
                                'parent_link': link.label,
                                'depth': 0
                            }%}
                        </ul>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
