{% if file %}
    <div>
        <div class="d-flex flex-column py-1">
            <span><strong>File Name</strong>: <a href='/uploads/{{file.filename}}'><u>{{ file.filename }}</u></a></span>
            <span><strong>Original Name</strong>: {{ file.original_name }}</span>
            <span><strong>Size</strong>: {{ file.size }} bytes</span>
            <span><strong>Type</strong>: {{ file.mime_type }}</span>
            <span><strong>Created</strong>: {{ file.created_at }}</span>
        </div>
        <div onClick="toggleFileUpload(event)"><small class="mt-1 text-secondary">🚩 Click to modify</small></div>
        <div class="hidden mt-2">{{ input|raw }}</div>
        <div>{{ hidden|raw }}</div>
    </div>
{% else %}
    {{ input|raw }}
{% endif %}
