{% extends "base.html" %}

{% block content %}
<section id="sign-in" class="h-100">
	<form class="d-flex flex-column align-items-center justify-content-center h-100">
		<div class="form-floating mb-3 w-100">
			<input type="email" class="form-control w-100" id="email" placeholder="name@example.com">
			<label for="email">Email address</label>
		</div>
		<div class="form-floating mb-3 w-100">
			<input type="password" class="form-control w-100" id="password" placeholder="Password">
			<label for="password">Password</label>
		</div>
		<div class="w-100">
			<button type="submit" class="btn btn-primary w-100 btn-lg">Sign in</button>
		</div>
	</form>
</section>
{% endblock %}
